@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Common Area */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
}

body {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --text-color-1: #3c3c3c;
  --text-color-2: #3e3e3e;
  --text-color-3: #f46060;
  --text-color-4: #363958;
}

.btn-primary {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #ff8063;
  padding: 18px 50px;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.btn-primary:hover {
  border: 1px solid var(--text-color-3);
  transform: scale(1.1);
  background-color: transparent;
  color: #f46060;
}
/* Navbar section */
.navbar {
  /* margin-right: 140px; */
  margin-top: 40px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  color: var(--text-color-1);
  font-family: sans-serif;
}

.nav-list > .nav-item {
  list-style: none;
}

/* Hero section */

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  margin: 100px 0 100px 0;
}

.hero-title {
  font-size: 80px;
  font-weight: 700;
  color: var(--text-color-4);
}
.hero-span {
  color: var(--text-color-3);
}
.title-details {
  color: var(--text-color-2);
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero img {
  width: 200px;
  animation-name: shapes;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes shapes {
  100% {
    transform: rotate(360deg);
  }
}

/* Second hero */

.second-text {
  text-align: right;
}
.about-title {
  font-size: 50px;
  color: var(--text-color-4);
}

.about-details {
  width: 400px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
/* latest-project section */
.latest-work{
  margin-bottom: 100px;
}
.project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.latest-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin: 60px;
}

.project-card {
  padding: 20px;
  width: 350px;
  height: 370px;
  box-shadow: 1px 1px 10px rgb(204, 204, 204);
  border-radius: 20px;
  text-align: center;
}
.project-card img {
  width: 310px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(204, 204, 204);
}
/* Work-inquiry section */
/* stay-connected section */
